@import '@arco-design/web-react/dist/css/arco.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .full {
    @apply w-full h-full;
  }

  .absolute-cover {
    @apply absolute w-full h-full left-0 top-0;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-row-center {
    @apply flex flex-row items-center;
  }

  .flex-row-stretch {
    @apply flex flex-row items-stretch;
  }

  .flex-col-center {
    @apply flex flex-col items-center;
  }

  .flex-col-start {
    @apply flex flex-col items-start;
  }
}

body {
  background-color: var(--color-bg-1);
  color: var(--color-text-1);
}

.i-scroll::-webkit-scrollbar {
  width: 12px;
}

.i-scroll::-webkit-scrollbar-track-piece {
  background-color: var(--color-bg-2);
}

.i-scroll::-webkit-scrollbar-thumb {
  background-color: var(--color-text-3);
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 7px;
}

ul::-webkit-scrollbar {
  width: 6px;
}

ul::-webkit-scrollbar-track-piece {
  background-color: var(--color-bg-2);
  border-radius: 8px;
}

ul::-webkit-scrollbar-thumb {
  background-color: var(--color-text-3);
  border: 1px solid transparent;
  background-clip: padding-box;
  border-radius: 8px;
}

.arco-form-item-symbol > svg {
  display: inline-block;
}
